.login {
    height: 100%;
    overflow: hidden;

    .container {
        width: 100%;
        height: 100%;

        background: #1bbbbb;
        h1 {
            height: 25%;

            font-size: 24px;
            line-height: 180px;
            text-align: center;

            color: #fff;
        }
        input {
            border: 2px solid #fff;
            border-radius: 2px;
            height: 40px;

            font-size: 14px;
            line-height: 40px;

            color: #898989;
            &.user-name:focus {
                font-weight: 700;

                color: #595757;
            }
        }
        button {
            border: none;
            border-radius: 2px;
            height: 40px;

            font-size: 14px;

            color: #fff;
            &.jz-login-in {
                background: #f9be00;
            }
            &.ls-login-in {
                color: #595757;
            }
        }
        p{
            font-size:12px;
            color:#fff;
            text-align:center;

        }
        .logo-login{
            margin-top:25%;
        }
    }
}
