.msg-send {
    overflow: hidden;

    height: 100%;
    .msg-edit {
        margin-top: 130px;
        span,
        input,
        i {
            line-height: 40px;
        }
        span {
            font-size: 14px;
            line-height: 40px;

            color: #595757;
        }
        input {
            border: 1px solid #1bbbbb;
            border-radius: 2px;
            height: 40px;

            color: #c9cacb;
            &:focus {
                color: #595757;
            }
        }
        i {
            font-size: 18px;

            color: #1bbbbb;
        }
        textarea {
            border: 1px solid #1bbbbb;
            border-radius: 2px;

            font-size: 14px;
        }
        p {
            margin-top: -8px;
            padding: 0;

            font-size: 12px;

            color: #c9cacb;
            span {
                padding: 0 5px;

                color: red;
            }
        }
        .btn-msg-send {
            border: none;
            border-radius: 2px;
            height: 40px;

            font-size: 14px;

            color: #fff;
            background: #f9be00;
        }
    }
}
