.person-data-set {
    overflow-x: hidden;

    width: 100%;
    height: 100%;
    .container {
        .list {
            margin-top: 120px;
            margin-bottom: 70px;
            ul {
                margin-top: 10px;
                padding: 0 20px;
                li {
                    border-bottom: 1px solid #c9cacb;
                    padding: 10px 0;
                    &:active {
                        background-color: #c9cacb;
                    }
                    span {
                        margin-left: 5px;
                        input[type="radio"] {
                            margin: 0 10px;
                        }
                    }
                    i {
                        float: right;

                        font-size: 16px;

                        color: #1bbbbb;
                    }
                }
            }
        }
        button {
            border: none;
            border-radius: 2px;
            height: 40px;

            font-size: 14px;

            color: #fff;
            background: #f9be00;
            &:active,
            &:focus {
                color: #fff;
                background: #f9be00;
            }
        }
    }
}
#edit-msg {
    border: 1px solid #1bbbbb;
    border-radius: 2px;
    height: 40px;

    color: #c9cacb;
    &:focus {
        color: #595757;
    }
}
