.student-data {
    .list {
        margin-top: 120px;
        margin-bottom: 70px;
        ul {
            margin-top: 10px;
            padding: 0 20px;
            li {
                border-bottom: 1px solid #c9cacb;
                padding-top: 10px;
                &:active {
                    background-color: #c9cacb;
                }
                i {
                    float: right;

                    margin-top: -15px;

                    font-size: 24px;

                    color: #1bbbbb;
                }
                small {
                    padding-right: 10px;

                    color: #727171;
                }
                span {
                    padding-left: 10px;

                    color: #595757;
                }
            }
        }
    }
}
