@import '01_home';
@import '02_login';
@import '03_article_list';
@import '04_info_view_list';
@import '05_info_view';
@import '06_students_list';
@import '07_class_list';
@import '08_msg_send';
@import '09_person_set';
@import '10_change_status';
@import '11_love_number_set';
@import '12_person_data_set';
@import '13_change_phone';
@import '14_bund_status';
@import '15_bund_success';
@import '16_bund_account';
@import '17_pay_manage';
@import '18_bund_success_2';
@import '19_digital_school';
