/*common css start*/


/*height*/

.h50 {
    height: 50px;
}


/* float */

.fl {
    float: left !important;
}

.fr {
    float: right !important;
}


/* position */

.p-ab {
    position: absolute;
}

.p-re {
    position: relative;
}

.left0 {
    left: 0 !important;
}

.top0 {
    top: 0 !important;
}


/* padding */

.p10 {
    padding: 10px !important;
}

.p15 {
    padding: 15px !important;
}

.p30 {
    padding: 30px !important;
}

.p80 {
    padding: 80px !important;
}

.pl5 {
    padding-left: 5px !important;
}

.pl20 {
    padding-left: 20px !important;
}

.ptb10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.ptb20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.plr30 {
    padding-right: 30px !important;
    padding-left: 30px !important;
}


/* margin */

.m0 {
    margin: 0 !important;
}

.m20 {
    margin: 20px !important;
}

.mtb5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.mtb10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.mt-50 {
    margin-top: -50px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mt100 {
    margin-top: 100px !important;
}

.mt200 {
    margin-top: 200px !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb50 {
    margin-bottom: 50px !important;
}

.mb100 {
    margin-bottom: 100px !important;
}

.ml0 {
    margin-left: 0 !important;
}

.ml5 {
    margin-left: 5px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.ml15 {
    margin-left: 15px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.ml40 {
    margin-left: 40px !important;
}

.mr2 {
    margin-right: 2px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr20 {
    margin-right: 20px !important;
}


/* text */

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.f16 {
    font-size: 16px;
}

.fb {
    font-weight: bold;
}

.m-home{
    margin: 0 auto;
    padding: 0;
    min-width: 300px;
    max-width: 640px;
}