

@media (max-width: 767px) {
    html,
    body {
        //overflow-x:hidden;
    }
}

.full-height {
    margin: 0 auto;
    padding: 0 10px;
    min-height: 100%;
}

html,
body {
    font-family: Microsoft YaHei, SimSun, Arial;

    background-color: #fff;
}

a {
    color: #666;
}

a:focus,
a:hover {
    text-decoration: none;
    color: #595757;
}

ul,
ol,
li {
    list-style-type: none;

    vertical-align: middle;
}

.h1,
.h2,
.h3,
.h4,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Microsoft YaHei, SimSun, Arial;
}

input:focus,
button:focus,
textarea:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none;
}

.clearfix:after {
    display: table;
    clear: both;

    line-height: 0;

    content: "";
}
