---
title: 查看回复信息
slug: 04_info_view_list
back_control: true
article_title: true
---

<div class="info-view-list">
    <article id="container" class="container">
        <div class="content-right" id="content-right">
            {% include logo_top.html %}
            <section class="list">
                <ul>
                    {% for item in site.data.04_info_view_list.list %}
                    <li>
                        <a href="#">
                            <div class="item-title">
                                <strong>{{ item.name }}</strong>
                                <small>{{ item.date }}</small>
                                <div class="clearfix"></div>
                            </div>
                            <p>{{ item.class }}</p>
                            <p>{{ item.status }}</p>
                            <p>{{ item.id }}</p>
                            <p class="info">{{ item.info }}</p>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            {% include foot_nav.html %}
        </div>
    </article>
</div>
