---
title: 查看信息
slug: 05_info_view
back_control: true
article_title: true
---

<div class="info-view">
    <article id="container" class="container">
        <div class="content-right" id="content-right">
            {% include logo_top.html %}
            <section class="list">
                <ul>
                    {% for item in site.data.05_info_view.list %}
                    <li>
                        <a href="#">
                            <p class="border-b">{{ item.time }}</p>
                            <p class="content">{{ item.content }}</p> 
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            {% include foot_nav.html %}
        </div>
    </article>
</div>
