---
title: 设置亲情号码
slug: 11_love_number_set
back_control: true
article_title: true
---

<div class="love-num-set">
    <article id="container" class="container">
        <div class="content-right" id="content-right">
            {% include logo_top.html %}
            <section class="form-list">
                <div class="row">
                    <div class="form-group col-xs-10 col-xs-offset-1">
                        <label for="" class="col-xs-4">手机号码：</label>
                        <span>18675632980</span>
                    </div> 
                </div>
                <div class="row">
                    <div class="form-group col-xs-10 col-xs-offset-1">
                        <label for="" class="col-xs-4">亲人称呼：</label>
                        <input type="text" class="col-xs-8" placeholder="请输入称呼">
                    </div> 
                </div>
                <div class="row">
                    <div class="form-group col-xs-10 col-xs-offset-1">
                        <label for="" class="col-xs-4">亲情号码：</label>
                        <input type="text" class="col-xs-8" placeholder="请输入亲情号码">
                    </div> 
                </div>
                <div class="row mt10">
                    <button type="button" class="btn btn-default col-xs-10 col-xs-offset-1 text-center">确认</button>
                </div>
                <div class="row text-center mt50">
                    <i class="fa fa-check-square-o"></i>
                </div>
            </section>
            {% include foot_nav.html %}
        </div>
    </article>
</div>
