---
title: 个人资料设置
slug: 12_person_data_set
menu_left: false
back_control: true
article_title: true
modal_small: true
---

<div class="person-data-set">
    <article id="container" class="container">
        <div class="content-right" id="content-right">
            {% include logo_top.html %}
            <section class="list">
                <ul>
                    {% for item in site.data.12_person_data_set.data_list %}
                    <li class="base-edit">
                        <a href="#">
                           <strong>{{ item.key }}</strong><span>{{ item.value }}</span>
                           {% if item.edit != false %}
                           <i class="fa fa-edit"></i>
                           {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="row">
                    <button type="button" class="btn btn-default col-xs-10 col-xs-offset-1 text-center mt10">保存</button>
                </div>
            </section>
            {% include foot_nav.html %}
        </div>
    </article>
</div>
