---
title: 切换手机
slug: 13_change_phone
back_control: true
article_title: true
---

<div class="change-phone">
    <article id="container" class="container">
        <div class="content-right" id="content-right">
            {% include logo_top.html %}
            <section>
               <p class="text-center">当前号码：<strong>18675632980</strong></p>
               <div class="row">
                   <input type="text" class="col-xs-10 col-xs-offset-1 mt30 text-center" placeholder="新号码">
               </div>
               
               <div class="row">
                    <button type="button" class="btn btn-default col-xs-10 col-xs-offset-1 text-center mt30">确认</button>
                </div>
            </section>
            {% include foot_nav.html %}
        </div>
    </article>
</div>
