---
title: 身份绑定
slug: 14_bund_status
back_control: true
article_title: true
---

<div class="bund-status">
    <article id="container" class="container">
        <div class="content-right" id="content-right">
            {% include logo_top.html %}
            <section>
               <p class="text-center">请选择对应身份进行绑定</p>
               <div class="row">
                   <button type="button" class="btn btn-default col-xs-10 col-xs-offset-1 text-center mt30 family">我是家长</button>
               </div>
               <div class="row">
                    <button type="button" class="btn btn-default col-xs-10 col-xs-offset-1 text-center mt30 teacher">我是老师</button>
                </div>
            </section>
            {% include foot_nav.html %}
        </div>
    </article>
</div>
