---
title: 绑定成功
slug: 15_bund_success
back_control: true
article_title: true
---

<div class="bund-success">
    <article id="container" class="container">
        <div class="content-right" id="content-right">
            {% include logo_top.html %}
            <section>
               <p class="text-center">成功绑定老师账号</p>
               <div class="row">
                    <button type="button" class="btn btn-default col-xs-10 col-xs-offset-1 text-center mt30">关闭</button>
                </div>
            </section>
            {% include foot_nav.html %}
        </div>
    </article>
</div>
