---
title: 缴费
slug: 17_pay_manage
back_control: true
article_title: true
---

<div class="pay-manage">
    <article id="container" class="container">
        <div class="content-right" id="content-right">
            {% include logo_top.html %}
            <section class="form-list">
                <p class="text-center">方式一</p>
                <div class="row">
                    <div class="form-group col-xs-10 col-xs-offset-1">
                        <label for="" class="col-xs-4 text-right">学生姓名：</label>
                        <input type="text" class="col-xs-8" placeholder="请输入学生姓名">
                    </div> 
                </div>
                <div class="row">
                    <div class="form-group col-xs-10 col-xs-offset-1">
                        <label for="" class="col-xs-4 text-right">家长手机：</label>
                        <input type="text" class="col-xs-8" placeholder="请输入家长手机号码">
                    </div> 
                </div>
                <div class="row">
                    <div class="form-group col-xs-10 col-xs-offset-1">
                        <label for="" class="col-xs-4 text-right">验证码：</label>
                        <input type="text" class="col-xs-3" placeholder="验证码">
                        <button type="text" class="col-xs-4 pull-right send-code">发送验证码</button>
                    </div> 
                </div>
                <div class="row mt10">
                    <button type="button" class="btn btn-default col-xs-10 col-xs-offset-1 text-center">提交老师绑定</button>
                </div>
           
                <p class="text-center mt20">方式二</p>
                <div class="row">
                    <div class="form-group col-xs-10 col-xs-offset-1">
                        <label for="" class="col-xs-4 text-right">手机/e号：</label>
                        <input type="text" class="col-xs-8" placeholder="手机号码/e号">
                    </div> 
                </div>
                <div class="row">
                    <div class="form-group col-xs-10 col-xs-offset-1">
                        <label for="" class="col-xs-4 text-right">密码：</label>
                        <input type="text" class="col-xs-8 password" placeholder="密码">
                        <i class="fa fa-eye"></i>
                    </div> 
                </div>
                <div class="row mt10">
                    <button type="button" class="btn btn-default col-xs-10 col-xs-offset-1 text-center">提交老师绑定</button>
                </div>
            </section>
            {% include foot_nav.html %}
        </div>
    </article>
</div>
