---
title: 绑定账号2
slug: 18_bund_success_2
back_control: true
article_title: true
---

<div class="bund-success">
    <article id="container" class="container">
        <div class="content-right" id="content-right">
            {% include logo_top.html %}
            <section>
                <strong>绑定成功</strong>
               <p class="text-center mt10">绑定手机<span>18670265897</span></p>
               <small>关联信息：陈远长（怀化市锦台院路锦合小学老师</small>
               <div class="row">
                    <button type="button" class="btn btn-default col-xs-10 col-xs-offset-1 text-center mt30">继续绑定</button>
                </div>
            </section>
            {% include foot_nav.html %}
        </div>
    </article>
</div>
