---
title: 家长学校文章
slug: 20_digital_school_article
menu_left: true
article_title: true
---

<div class="digital_school_article">
    <article id="container" class="container">
        {% include menu_left.html %}
        <div class="content-right" id="content-right">
            {% include logo_top.html %}
            <section>
                <strong>做个小孩不容易，孩子的心声</strong>
                <small>陈远长家长（e号：6965）</small>
                <small class="date">2016-03-02</small>
                <p> 
    1、你要是觉得人家的孩子比我好，就让他(她)当你的孩子好了，何必老拿我和人家比呢？<br>2、“妈妈，我知道您担心我的学习，但是您不能老逼我，让我喘不过气来，这样我会学一次，忘一次。” <br>3、“妈妈，我想自己上学，不要您接送了，你总是送我上学，害得我在班上好惭愧。如果一直让您接送，一直在您的呵护下，那我长大了怎么办？” <br>4、“每次妈妈骂我笨猪，我气得牙齿都要掉了，这让我感觉自己很笨，和猪一样，以后希望妈妈不要骂我了” <br>5、“爸爸，请把25%的温柔+75%的严厉变成100%的温柔好吗？” <br>6、“亲爱的爸爸妈妈，我既爱您们，又怨您们。爱您们的是关心我的成长，怨您们的是为什么有时严厉得不合情理。” <br>
    7、我还是想告诉您(妈妈)：我毕竟是儿童，儿童的兴趣是多方面的，难道死读书您就高兴吗？您也是从儿童时代一步一步走过的。希望三思。 <br>
    8、请爸爸妈妈放大胸怀，不要小肚鸡肠吵闹不停，试着体谅、容忍别人的态度……我多么希望有一个和蔼的爸爸，慈祥的妈妈，组成一个和谐幸福的家，一家人快      快乐乐地过日子。<br>
    9、父母天天教育我这个哪个，我觉得，首先他们自己就没做好，他们以身作则才对。<br> 
    10、爸爸经常说我胖，本来很好的心情，被他弄得一团糟。<br>11、妈妈趁我上厕所的时候翻我的房间，结果什么也没发现，我觉得妈妈一点都不信任我，更不尊重我。 <br>12、爸爸，请不要强迫我学我不感兴趣的东西好不好，这是强迫不来的呀<br>
                </p>
           
                <small class="text-center">您已经输入<span>206</span>字，还能输入(<span>206</span>)字</small>
                <div class="row">
                    <textarea class="col-xs-8 col-xs-offset-2" name="" id="" cols="30" rows="5" placeholder="请在这里输入评论..."></textarea>
                </div>
               
            </section>
            {% include foot_nav.html %}
        </div>
    </article>
</div>
