---
title: 数字学校缴费
slug: 21_digital_school_pay
menu_left: true
article_title: true
---

<div class="digital-school-pay">
    <article id="container" class="container">
        {% include menu_left.html %}
        <div class="content-right" id="content-right">
            {% include logo_top.html %}
            <section class="form-list">
                <p>学校暂不支持网上数字校园缴费，谢谢！</p>
                <p class="title mt30">请填写基本信息</p>
                <div class="row mt30">
                    <div class="form-group col-xs-10 col-xs-offset-1">
                        <label for="" class="col-xs-4">学生姓名：</label>
                        <input type="text" class="col-xs-8" placeholder="请输入学生姓名">
                    </div> 
                </div>
                <div class="row">
                    <div class="form-group col-xs-10 col-xs-offset-1">
                        <label for="" class="col-xs-4">家长手机：</label>
                        <input type="text" class="col-xs-8" placeholder="请输入家长手机号码">
                    </div> 
                </div>
                <div class="row mt30">
                    <button type="button" class="btn btn-default col-xs-10 col-xs-offset-1 text-center">下一步</button>
                </div>
            </section>
            {% include foot_nav.html %}
        </div>
    </article>
</div>
