---
title: 班级动态
slug: 22_class_dynamic
back_control: true
article_title: true
---

<div class="class-dynamic">
    <article id="container" class="container">
        <div class="content-right" id="content-right">
            {% include logo_top.html %}
            <section class="list">
                <ul>
                    {% for item in site.data.22_class_dynamic.list %}
                    <li>
                        <a href="#">
                           
                           
                            <p>{{ item.content }}</p>
                            <small>{{ item.time }}</small>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            
            {% include foot_nav.html %}
        </div>
    </article>
</div>
